name: Ingestao Despesas Queimados

on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:      

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Create GCP credentials file
        run: |
          echo "$GCP_KEYFILE_JSON" > key.json
        env:
          GCP_KEYFILE_JSON: ${{ secrets.GCP_KEYFILE_JSON }}

      - name: Create dbt profile
        run: |
          mkdir -p profiles
          cat > profiles/profiles.yml <<'EOF'
          monitorpublico:
            target: dev
            outputs:
              dev:
                type: bigquery
                method: service-account
                project: "monitorpublico"
                dataset: "despesas_queimados"
                location: "US"
                threads: 4
                keyfile: "key.json"
          EOF




      - name: Authenticate with service account
        run: |
          python - <<'PY'
          import json
          from google.oauth2 import service_account

          creds = service_account.Credentials.from_service_account_info(
              json.loads('${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}')
          )

          print("Autenticação OK")
          PY


